.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

.gradle

# Added by Android Studio
*.iml
.DS_Store
/androidapps.iml
/local.properties
/local.properties
/.idea/misc.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/libraries

